<body class="bg" style="font-family: 'Times New Roman', Times, serif;">
    <div style="padding-left: 900px;padding-top: 20px;">
<h1 style="text-align: center;padding-top: 200px;" >You are logged out</h1>
<div class="container" style="text-align: center;">Thank You for Using Our Application.</div>
<br>
<div class="bb" style="padding-left:200px">

<button (click)=login()   class="btn-warning" style="border-radius: 10px;align-self: center;padding: 10px;">Login Page</button>
</div>
    </div>
</body>