<head>
  <script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>
</head>

 
<body class="bg">
  <div class="logo">
     </div>
  <h1 style="text-align: center;padding-top: 50px;padding-left: 450px;font-family: Georgia, 'Times New Roman', Times, serif;">Welcome to </h1>
  <h1 style="text-align: center;padding-left: 450px;font-family: Georgia, 'Times New Roman', Times, serif;">Product Management System</h1>
<div class="container col-lg-8" style="padding-top: 20px;padding-left: 450px;">
    <h1 class="text-center" style="font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Login</h1>
    <div class="card">
      <div class="card-body">
        <form class="form-group">
          <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          <div class="form-group">
            <label for="email">User Name :</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Enter User Name"
              name="username">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password"
              name="password">
          </div>
          <button (click)=handleLogin() class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>
  